/* src/App.module.css */

.appContainer {
  display: flex;
  height: 100vh; /* Ensures the app takes the full height of the viewport */
  margin: 0;
  background-color: #d6eaf9;
}

.mainContent {
  flex-grow: 1;
  padding: 10px 24px;
  overflow: auto; /* Enables scrolling for content */
  /* background-color: #d6eaf9; */
  background-color: #ffffff;
  margin: 16px;
  margin-left: 0px;
  border-radius: 24px;
}

.dateRangePicker {
  width: 200px;
  height: 24px;
}